.main{
    height: 100vh;
    overflow: hidden; 
    padding-bottom: 150px;
    
    background: var(--background2, linear-gradient(180deg, #000517 0%, #010E41 100%));
}

h2 {
    margin: 20px;
    font-style: italic;
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }