.main{
    display: flex;
    width: 100vw;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    background: var(--background2, linear-gradient(180deg, #000517 0%, #010E41 100%));
}
h1 {
    color: #FFF;
    margin-top:42px;
    font-family: Lilita One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

img {
    margin-top: 50px;
    width: 900px;
    height: 500px;
    flex-shrink: 0;
}

.fishes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:50px;
    gap: 55px;
}

.fishes img {
    width: 71.17px;
    height: 69.249px;
}